body {
    background-color: #0b2233;
    color: #e9ebec;
}

* {
    outline: 0 !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #ed1927;
}

a {
    color: #ed1927;
}

a:hover {
    text-decoration: none;
    color: #999;
}

.blog-title {
    font-size: 2.5rem;
}

.blog-masthead {
    background-color: #ed1927;
}

.blog-header {
    border-bottom: .05rem solid #ed1927;
}

.nav-link {
    color: #e9ebec;
    position: relative;
    z-index: 1;
}

.nav-link::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background: #b21820;
    top: 0;
    left: 0;
    transition: .5s;
    opacity: 0;
    z-index: -1;
}

.nav-link:hover::before {
    width: 100%;
    opacity: 1;
}

.blog-footer {
    background-color: #0b2233;
    border-top: .05rem solid #ed1927;
}

.sidebar-module {
    background-color: #172c3e;
    margin-bottom: 1.5rem;
}

.article {
    display: block;
    overflow: hidden;
    max-width: 700px;
    position: relative;
    margin-bottom: 2rem;
}

.articlePic {
    height: 100%;
    width: 100%;
}

.article .article-description {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 50%;
    background-color: rgba(23, 44, 62, .7);
    box-sizing: border-box;
    transition: background .2s linear;
}

.article:hover .article-description {
    background-color: rgba(237, 25, 39, .7);
}

a .article-short-text , a .article-title, a .article-date {
    color: #e9ebec;
    font-size: .85rem;
    margin: 15px 15px 0 25px;
}

.article-title {
    display: block;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 10px 0;
    margin-bottom: 15px;
}

.article-title:after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    color: #e9ebec;
    position: absolute;
    left: 0;
    bottom: 0;
}

.article-short-text {
    font-style: italic;
    text-align: justify;
}

.article-short-text, .article-date {
    display: block;
    max-height: 84px;
    overflow: hidden;
}

.centerPic {
    width: 100%;
}

.post-header-title, .post-header-title a {
    position: relative;
    background-color: rgba(23, 44, 62, 1);
    color: #999;
    font-size: .8rem;
}

.post-header-title a:hover {
    color: #ed1927;
    text-decoration: none;
}

.title-article {
    border-bottom: 1px solid #ed1927;
}

.blog-post-description, .blog-post-text {
    text-align: justify;
}

.blog-post-description {
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
}

.sidebarItem {
    text-align: center;
    display: block;
    margin: 10px 25px 10px 25px;
    width: 150px;
    height: 100px;
    border: solid 1px #172c3e;
    box-sizing: border-box;
}

.sidebarLink {
    display: block;
}

.sidebarPic {
    display: block;
}

.sidebarText span {
    color: #999;
    font-size: .85rem;
}

.sidebarItem a:hover {
    text-decoration: none;
}

.sidebarItem:hover {
    border-bottom: solid 1px #ed1927;
}

.carsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.carItem {
    display: block;
    width: 166px;
    height: 166px;
    box-sizing: border-box;
    border: 1px solid #0b2233;
    color: #ed1927;
    padding-top: 20px;
}

.carsList a:hover {
    color: #ed1927;
    text-decoration: none;
    border: 1px solid #ed1927;
}

.new-article {
    font-size: 1.1rem;
    color: #999;
    text-transform: uppercase;
}

.new-article-link {
    color: #ed1927;
}

.new-article-link:hover {
    color: #999;
    text-decoration: none;
}

.blog-footer a {
    color: #ed1927;
}

.blog-footer a:hover {
    color: #999;
    text-decoration: none;
}

.post-mainPage {
    background-color: #172c3e;
    width: 710px;
    padding: 10px;
    border-radius: 5px;
}

.active-SideBar {
    border: 1px solid #ed1927;
    padding: 5px;
}

pre {
    color: white;
}

.blog-post-text {
    margin-top: 10px;
}

.blog-post-text .fig {
    text-align: center;
}

.blog-post-text .fig img {
    width: 600px;
}

.blog-post-text .video {
    margin-left: 70px;
}

.blog-pagination {
    display: flex;
    justify-content: center;
}

.pagination {

}

.blog-pagination .btn {
    border: 1px solid #ed1927;
    margin: 5px;
    text-transform: uppercase;
}

.blog-pagination .btn:hover {
    background-color: #ed1927;
    color: #172c3e;
}

.blog-pagination .pag-active {
    background-color: #ed1927;
}

.blog-pagination .pag-active span {
    color: #172c3e;
}

.signup-login {
    position: absolute;
    top: 30px;
}

.signup-login span {
    color: #999;
}

.user-action {
    background-color: transparent;
    border: none;
    color: #ed1927;
}

.user-action:hover {
    color: rgb(231, 140, 92);
}

.form-signup-heading, .form-signin-heading {
    margin: 0;
}

.checkbox {
    margin-top: 5px;
    color: #999;
}

.modal-error, .error-block {
    padding: 0;
    margin-top: 10px;
}

.modal-error ul, .modal-error p, .error-block ul {
    margin: 8px 0;
}

.modal-error p {
    text-align: center;
}

.personal-area-btn {
    background-color: #172c3e;
    margin: 2px 0;
}

.personal-area-btn:hover, .personal-area-btn-active {
    background-color: #ed1927;
}

.myInfo a {
    color: #e9ebec;
}

.infoTitle {
    color: #ed1927;
}

.review {
    max-width: 700px;
    background-color: #172c3e;
    position: relative;
    margin: 50px 0 20px 0;
}

.review img {
    margin: 1px;
}

.review:hover {
    background-color: #ed1927;
}

.review:hover .review-rating {
    color: #e9ebec;
}

.review-model {
    position: absolute;
    top: 9px;
    left: 200px;
}

.review-model a {
    color: #e9ebec;
}

.review-model a:hover {
    text-decoration: underline;
}

.review-rating {
    position: absolute;
    top: 45px;
    left: 200px;
    color: #ed1927;
    font-size: .95rem;
}

.review-content {
    padding: 20px 20px 10px 20px;
}

.review-author {
    margin-bottom: 5px;
}

.review-text {
    font-size: .95rem;
    text-align: justify;
    margin-bottom: 5px;
}

.review-date {
    font-size: .95rem;
}

#form-reviews {
    position: relative;
    height: 30px;
}

#markCar, #modelCar {
    font-size: .9rem;
    padding: 3px;
    width: 300px;
    height: 30px;
}

#markCar {
    position: absolute;
}

#modelCar {
    position: absolute;
    left: 390px;
    top: 0;
}

.review-notFound {
    margin: 20px 0;
    font-size: 1.5rem;
}

.modal-field {
    margin: 10px 0;
}

.star-title {
    height: 54px;
    float: left;
    color: #999;
    padding: 10px 0 7px 7px;
    font-size: 1.1rem;
}

.form-group {
    position: relative;
}

.icon-success, .icon-fail {
    position: absolute;
    top: 9px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
}

.icon-success {
    color: #5cb85c;
}

.icon-fail {
    color: #d9534f;
}

input.valid {
    border-color: #5cb85c;
}

input.error {
    border-color: #d9534f;
}

label.error {
    display: block;
    padding-left: 5px;
    color: #d9534f;
    font-size: .9rem;
}

.forumSection {
    display: block;
    height: 75px;
    padding: 25px;
    text-transform: uppercase;
    background-color: #172c3e;
    margin: 5px 0;
    border-radius: 5px;
}

.forumSection:hover {
    background-color: #ed1927;
    color: #e9ebec;
}

.forumSection:hover .count-right {
    color: #ed1927;
}

.count-right {
    display: block;
    width: 27px;
    float: right;
    background-color: #0b2233;
    border-radius: 3px;
}

.theme {
    padding: 10px 5px 10px 10px;
    font-size: .9rem;
}

.dopInfo {
    font-size: .7rem;
}

.dopInfo a {
    text-decoration: underline;
    color: #e9ebec;
}

.dopInfo a:hover {
    color: #ed1927;
    text-decoration: none;
}

.fa {
    margin-right: 10px;
}

.forum-header {
    font-size: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.forum-header span {
    display: inline-block;
    width: 55px;
    text-align: center;
    float: right;
    background-color: #ed1927;
    color: #172c3e;
    border-radius: 5px;
}

.forum-theme {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: #172c3e solid 1px;
}

.btn-sm {
    font-size: .7rem;
    color: #172c3e;
    font-weight: bold;
}

.countMessage {
    font-size: .85rem;
}

.forum-nav {
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
}